@model CarTradeCenter.Data.Models.Vehicle
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

@*Important Info*@
<hr />

<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Koniec Aukcji</th>
                <th scope="col">Numer Auckji</th>
                <th scope="col">Dostawca</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.DateAuctionEnd)</td>
                <td>@Html.DisplayFor(model => model.Id)</td>
                <td>@Model.CompanyProvider</td>
            </tr>
        </tbody>
    </table>
</div>

@*Detailed Info*@
<hr />

<div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">1sza Rej</th>
                <th scope="col">Przebieg</th>
                <th scope="col">Cena Salonowa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Registration1stDate)</td>
                <td>@Html.DisplayFor(model => model.Mileage)</td>
                <td>@Html.DisplayFor(model => model.PriceBrandNew)</td>
            </tr>
        </tbody>
    </table>
</div>


<hr />

<div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Silnik</th>
                <th scope="col">Paliwo</th>
                <th scope="col">Skrzynia</th>
                <th scope="col">Napęd</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Engine)</td>
                <td>@Html.DisplayFor(model => model.GasType)</td>
                <td>@Html.DisplayFor(model => model.Gearbox)</td>
                <td>@Html.DisplayFor(model => model.Drive)</td>
            </tr>
        </tbody>
    </table>
</div>

<hr />

<div>
    @*Images*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Zdjęcia
                </th>
            </tr>
        </thead>
        <tbody>
            @*start from 1 to skip image mini*@
            @for (var i = 1; i < @Model.Images.Count; i++)
            {
                <tr>
                    <td>
                        <img src="@Model.Images[i].Url" class="img-thumbnail" style="width: 100%">
                    </td>
                </tr>
            }

            @*@foreach (var img in Model.Images)
                {
                    <tr>
                        <td>
                            <img src="@img.Url" class="img-thumbnail" style="width: 100%">
                        </td>
                    </tr>
                }*@
        </tbody>
    </table>
</div>

<div>
    @*Detailed Info*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Wyposarzenie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoExtra)
            <hr />
        </dd>

        <dt class="col-sm-2">
            Szacunkowy Koszt Naprawy
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceRepairCost)
            <hr />
        </dd>

        <dt class="col-sm-2">
            Części uszkodzone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoDamage)
            <hr />
        </dd>

    </dl>
    <hr />
</div>

<div>
    <a href="##" onClick="history.go(-1); return false;" type="button" class="btn btn-primary">Powrót</a> 
</div>


@*<div>
        <button type="button" class="btn btn-primary" asp-action="Index">Powrót</button>
    </div>*@
