@model CarTradeCenter.Data.Models.PaginatedList<CarTradeCenter.Data.Models.Vehicle>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zakończone</h1>

<p>
    <a asp-action="CreateAutoAxa">Dodaj Nowy Axa</a>
    <a asp-action="CreateAutoAxa10">Dodaj 10x Nowy Axa</a>
</p>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Zdjecie</th>
            <th>Koniec Aukcji</th>
            <th>Czas Do Zakończenia</th>
            <th>Firma</th>
            <th>Number Aukcji</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td style="width: 500px"> <a href="@vehicle.Url" target="_blank">@vehicle.Title</a></td>
                <td> <a href="@vehicle.Url" target="_blank"> <img src="@vehicle.GetImageMiniUrl()" style="max-height: 300px; width:auto"> </a> </td>
                <td>@vehicle.DateAuctionEnd.ToString("dd.MM.yyyy HH:mm")</td>

                @if (Math.Round(((vehicle.DateAuctionEnd - System.DateTime.Now).TotalHours), 0) > 0)
                {
                    <td style="align-content:center">@Math.Round(((vehicle.DateAuctionEnd - System.DateTime.Now).TotalHours), 0) godzin</td>
                }
                else
                {
                    <td style="color:red">zakończona @(Math.Round(((vehicle.DateAuctionEnd - System.DateTime.Now).TotalHours), 0) * -1) godzin temu</td>
                }

                <td> @vehicle.CompanyProvider </td>
                
                <td>@vehicle.Id</td>
            </tr>
        }
    </tbody>
</table>

<hr />


<hr />
<div>
    @{
        var prevDisabled = !Model.IsPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.IsNextPage ? "disabled" : "";
    }
    <hr />
    Strona  |
    <a asp-action="Index" asp-route-pageNumber="1" class="btn btn-default">Pierwsza</a> |
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Poprzednia</a>
    |  @Model.PageIndex z @Model.TotalPages |
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">Następna</a> |
    <a asp-action="Index" asp-route-pageNumber="@(Model.TotalPages)" class="btn btn-default">Ostatnia</a>
</div>


