@model CarTradeCenter.Data.CarDamaged

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CarDamaged</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAuctionEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAuctionEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAuctionStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAuctionStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageMini)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageMini)
            <img src="@Html.DisplayFor(model => model.ImageMini)" class="img-thumbnail" style="width: 100%">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
