@model IEnumerable<CarTradeCenter.Data.CarDamaged>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Dodaj Nowy</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Zdjecie</th>
            <th>Koniec Aukcji</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
        <tr>
            <td>@car.Title</td>
            <td> <img src="@car.ImageMini.Url" class="img-thumbnail" style="width: 25%"> </td>
            <td>@car.DateAuctionEnd</td>
            <td> <a asp-action="Edit" asp-route-id="@car.Id">Edytuj</a> </td>
            <td> <a asp-action="Details" asp-route-id="@car.Id">Detale</a></td>
            <td> <a asp-action="Delete" asp-route-id="@car.Id" onclick="confirm('Czy jestes pewien ze chcesz usunac?')">Usun</a></td>
        </tr>
        }
    </tbody>
</table>

