@model CarTradeCenter.Data.PaginatedList<CarTradeCenter.Data.Vehicle>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Samochody uszkodzone</h1>

<p>
    <a asp-action="CreateAutoAxa">Dodaj Nowy Axa</a>
    <a asp-action="CreateAutoAxa10">Dodaj 10x Nowy Axa</a>
</p>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Zdjecie</th>
            <th>Koniec Aukcji</th>
            <th>Oryginalny Link</th>
            <th>Firma</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td style="width: 500px">@car.Title</td>
                <td> <img src="@car.GetImageMiniUrl()" style="max-height: 300px; width:auto"> </td>
                <td>@car.DateAuctionEnd</td>
                @*<td> <a asp-action="Details" asp-route-id="@car.Id">Detale</a></td>*@
                <td> <a href="@car.Url">Oryginalna Aukcja</a></td>
                <td> @car.CompanyProvider </td>
                <td> <a asp-action="Usuń Aukcje" asp-route-id="@car.Id" onclick="confirm('Czy jestes pewien ze chcesz usunac?')">Usun</a></td>
            </tr>
        }
    </tbody>
</table>

<hr />
<div>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
        <li class="@(i == Model.PageIndex ? "page-item active" : "page-item")">
            @*<a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>*@
            <a class="page-link" asp-route-pageNumber="@(Model.PageIndex = i)">@i</a>
        </li>

        }
    </ul>
</div>

<hr />
<div>
    @{
        var prevDisabled = !Model.IsPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.IsNextPage ? "disabled" : "";
    }

    <hr />
    Strona: @Model.PageIndex
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled"> Poprzednia</a>
    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled"> Następna</a>

</div>


